a:hover {
  color: gold;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  margin: 2px;
}
.nav-link:hover{
  color: #549ff;
}
.btn {
  background-color: #2176FF;
  border-radius: 10px;
  font-family: Raleway;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: 3px solid black;
}
.btn:hover {
  background-color: #2176FF ;
}
.activity {
  border-radius: 22px;
  border: 3px solid black;
  cursor: pointer;
  text-decoration: none;
}
